/* Navigation bar */
.navbar {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    background-color: lightgrey;
}

.navLink {
    color: red;
    text-decoration: none;
    float: left;
    font-size: 25px;
    font-weight: bold;
    padding: 20px 0;
    width: 25%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.activePage {
    background-color: red;
    color: lightgrey;
}

.navLink:hover {
    background-color: lightcoral;
    color: whitesmoke;
    text-shadow: 2px 3px black
}


/* Page header */
#pageTitle {
    margin-top: 120px; /* To appear below navigation bar */
    margin-left: 15%;
    width: 70%;
    text-align: center;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
}


/* Landing page body */
.body {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 40px;
}

/* Footer */
#footerFrame {
    width: 100%;
    position: fixed;
    border: none;
    bottom: 0;
    left: 0;
    /* height: 50px; */
    height: 784px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: lightgrey;
    text-align: center;
    padding: 15px;
}

.footer a, .footer button {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: red;
    text-decoration: none;
    font-weight: bold;
    margin: 0 100px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* Contact me */
#contactMeFormWrapper {
    width: 40%;
    margin: 0 25px;
    padding: 10px;
    float: right;
    border: 4px solid red;
    border-bottom: none;
    background-color: lightgrey;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    font-weight: 600;
    font-size: 18px;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 2px solid black; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  #message {
    height: 150px;
  }

  #submit {
    border-radius: 4px;
    background-color: red;
    padding: 10px;
    color: lightgrey;
    font-weight: bolder;
    float: right;
    font-size: 18px;
    margin: 0 15px;
  }
