/* Navigation bar */
.navbar {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    background-color: red;
}

.navLink {
    color: lightgrey;
    text-decoration: none;
    float: left;
    font-size: 25px;
    font-weight: bold;
    padding: 20px 0;
    width: 25%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.activePage {
    background-color: lightgrey;
    color: red;
}

.navLink:hover {
    background-color: lightcoral;
    color: whitesmoke;
    text-shadow: 2px 3px black;
}


/* Page header */
#pageTitle {
    margin: 100px auto 25px auto;
    width: auto;
    text-align: center;
    font-size: 50px;
    font-family: cursive;
    color: red;
    text-shadow: 4px 5px lightgrey;
}


/* Page body */
#body {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 40px;
    text-align: left;
    margin: auto 50px;
}

#body a {
  font-weight: bold;
  text-decoration: none;
  color: red;
  text-shadow: 2px 2px lightgrey;
}

#body blockquote {
  text-align: center;
  font-style: oblique;
  font-size: 30px;
  font-family:'Courier New', Courier, monospace;
  font-weight: 600;
  width: 40%;
  margin: 25px auto;
  padding: 30px;
  color: red;
  text-shadow: 1px 1px lightgrey, 
              1px -1px lightgrey,
              -1px 1px lightgrey,
              -1px -1px lightgrey;
  background-image: linear-gradient(to bottom right, black, slategrey);
  border-radius: 25px;
}

/* Footer bar */
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: red;
    text-align: center;
    padding: 15px 0;
}

#footer a, #footer button {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: lightgrey;
    text-decoration: none;
    font-weight: bold;
    margin: 0 100px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#footer a:hover, #footer button:hover {
    text-decoration: underline;
}

/* Contact me */
#contactMeFormWrapper {
    width: 40%;
    height: 60%;
    position: absolute;
    right: 0;
    bottom: 55px;
    margin: 0 25px;
    padding: 10px;
    border: 4px solid lightgrey;
    background-color: red;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lightgrey;
    font-weight: 600;
    font-size: 18px;
    overflow: auto;
}

#contactMeFormWrapper label {
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 3px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }

  #message {
    height: 150px;
  }

  #submit {
    border-radius: 4px;
    background-color: lightgrey;
    color: red;
    font-weight: bolder;
    float: right;
    font-size: 18px;
    position: relative;
    padding: 18px;
    margin: 10px 0;
    bottom: 2%;
    right: 2%;
    border: 2px solid black;
  }

input[type=submit]:hover {
    cursor: pointer;
}

  #closeContactMeForm {
    display: block;
    position: absolute;
    top: 0;
    right: 2%;
    font-size: 30px;
    font-weight: bolder;
    color: lightgrey;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  #closeContactMeForm:hover {
    cursor: pointer;
  }

  /* Thank you message */
  #thankYouMessage {
    width: 20%;
    height: 10%;
    position: absolute;
    right: 0;
    bottom: 55px;
    margin: 0 200px;
    padding: 15px;
    border: 4px solid lightgrey;
    background-color: red;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lightgrey;
    text-align: center;
  }

#thankYouMessage p {
    font-size: 14px;
}
