/* Navigation bar */
.navbar {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid red;
    margin: 0;
    background-color: red;
}

.navLink {
    color: lightgrey;
    text-decoration: none;
    float: left;
    font-size: 25px;
    font-weight: bold;
    padding: 20px 0;
    width: 25%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.activePage {
    background-color: lightgrey;
    color: red;
}

.navLink:hover {
    background-color: lightcoral;
    color: whitesmoke;
    text-shadow: 2px 3px black
}


/* Page header */
.pageTitle {
    margin-top: 120px; /* To appear below navigation bar */
    margin-left: 15%;
    width: 70%;
    text-align: center;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif
}


/* Landing page body */
.body {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 40px;
}


/* Life sections button bar */
.lifeSectionButtonBar {
    margin: auto;
    width: 90%;
}
.lifeSectionButton {
    color: lightgrey;
    padding: 10px 24px;
    cursor: pointer;
    background-color: red;
    border: none;
    font-size: 24px;
    font-weight: bold;
}

.lifeSectionButton:hover {
    background-color: lightcoral;
    color: whitesmoke;
    text-shadow: 2px 2px black
}

.activeButton {
    background-color: lightgrey;
    color: red;
}

/* Clear button bar formatting */
.lifeSectionButtonBar:after {
    content: "";
    clear: both;
    display: table;
}

/* Life sections */
.lifeSectionWrapper {
    height: 75vh;
    width: 90%;
    margin: auto;
}

.lifeSection {
    border: 8px solid lightgrey;
    /* padding: 5px 15px; */
    overflow: auto;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 48.5%);
    justify-items: center;
    align-items: center;
    grid-gap: 50px 20px;
}

.grid-item {
    width: 95%;
    padding: 10px 0;
}

/* Responsive sizing */
/* Wide screen */
@media only screen and (min-width: 1000px){
    .lifeSectionButton {
        float: left;
    }
}

/* Narrow screen */
@media only screen and (max-width: 999px){
    .lifeSectionButtonBar {
        float: left;
        width: 30%;
    }

    .lifeSectionButton {
        width: 100%;
    }

    .lifeSection {
        float: left;
        width: 60%;
        display: block;
        justify-content: center;
    }

    .lifeSection p {
        width: 90%;
        padding: 0 15px;
    }

    .oddImage, .evenImage {
        display: none;
    }
}

