.navbar {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #ec0b43;
    margin: 0;
    background-color: #002f7a;
    font-size: 3em;
}

.navLink {
    color: #efe706;
    text-decoration: none;
    float: left;
    font-size: 25px;
    padding: 20px 0;
    width: 25%;
    text-align: center;
}

.navLink:hover {
    background-color: #273c2c;
    color: #f08700;
}

.active {
    background-color: #efe706;
    color: #002f7a;
}

p {
    font-size: 5em;
}